@{
    ViewData["Title"] = "SEGeT";
}

<div class="container">
    <div class="text-center text-danger mb-5"><h2>Confira a programação do XVI SEGeT </h2></div>

    <div>
        <ul class="lista">
            <li> <a href="#"> Apresentações Orais 30/10/19 </a></li>
            <li> <a href="#"> Apresentações Orais 31/10/19 </a></li>
            <li> <a href="#"> Apresentações de Pôsteres 31/10/19 </a></li>
            <li> <a href="#"> Porgramação Geral </a></li>
            <li> <a href="#"> Revista do XVI SEGeT </a></li>
        </ul>
    </div>


    <div class="mt-5">
        <p>O SEGeT – Simpósio de Excelência em Gestão e Tecnologia – é um evento científico de abrangência nacional que promoverá em 2019 o seu DÉCIMO SEXTO encontro. Desde 2004 o SEGeT vem oferecendo à comunidade acadêmica uma excelente oportunidade de publicação de trabalhos e troca de experiências científicas, se consolidando como evento na área de Gestão e Tecnologia. Com poucos anos de existência, ou seja, em sua quarta edição, conquistou a classificação de evento nacional Qualis "A"; que perdurou até 2009, quando a CAPES alterou o sistema de avaliação de eventos científicos. Ao longo de sua trajetória, recebeu cerca de 10.000 artigos e mais de 10.000 participantes, oriundos de todas as regiões de nosso país. O evento é realizado pela Associação Educacional Dom Bosco, com o apoio de instituições de renome, a exemplo da ABEPRO, CRA, FIRJAN e FAPERJ.</p>

        <p>Em 2019, o tema central do XVI SEGeT será “Inovação na relação Universidade - Empresa", onde os autores dos três melhores artigos da categoria oral serão premiados.</p>

        <p class="font-weight-bold">PARTICIPE! ENVIE SEU ARTIGO!</p>
    </div>

</div>



<style>
    .lista li{
        margin-bottom:5px;        
        font-size:20px;
    }
</style>