
@{
    ViewData["Title"] = "Melhores Trabalhos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="text-center"><p>ARTIGOS QUE CONCORREM À PREMIAÇÃO NO SEGeT 2019<br />
         (Prêmio Prof. Antonio Esteves)</p></div>

    <div>
        <table class="table table-striped table-bordered mt-5">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autores</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A Aplicação Da Ferramenta Da Gestão Da Qualidade Na Prestação De Serviços No Ambiente Hospitalar - Um Estudo De Caso</td>
                    <td>KÁssia Almeida Moura, Kelly Aparecida Torres, Erika Loureiro Borba, Fabricio Molica De Mendonça e Pablo Luiz Martins</td>
                </tr>
                <tr>
                    <td>Análise Da Aplicação De Ferramentas De Mitigação De Risco De Crédito Em Cooperativas De Crédito E Seu Impacto Nos Indices De Inadimplencia.</td>
                    <td>Fabrício Molica De Mendonça, Daniela De Fátima Alves, Elizete Antunes Teixeira Nogueira, Mario Sergio Almeida e Denise Carneiro Bernardo</td>
                </tr>
                <tr>
                    <td>Análise Da Aplicação De Ferramentas De Mitigação De Risco De Crédito Em Cooperativas De Crédito E Seu Impacto Nos Indices De Inadimplencia.</td>
                    <td>Fabrício Molica De Mendonça, Daniela De Fátima Alves, Elizete Antunes Teixeira Nogueira, Mario Sergio Almeida e Denise Carneiro Bernardo</td>
                </tr>
                <tr>
                    <td>Análise Da Aplicação De Ferramentas De Mitigação De Risco De Crédito Em Cooperativas De Crédito E Seu Impacto Nos Indices De Inadimplencia.</td>
                    <td>Fabrício Molica De Mendonça, Daniela De Fátima Alves, Elizete Antunes Teixeira Nogueira, Mario Sergio Almeida e Denise Carneiro Bernardo</td>
                </tr>
                <tr>
                    <td>Análise Da Aplicação De Ferramentas De Mitigação De Risco De Crédito Em Cooperativas De Crédito E Seu Impacto Nos Indices De Inadimplencia.</td>
                    <td>Fabrício Molica De Mendonça, Daniela De Fátima Alves, Elizete Antunes Teixeira Nogueira, Mario Sergio Almeida e Denise Carneiro Bernardo</td>
                </tr>
                <tr>
                    <td>Análise Da Aplicação De Ferramentas De Mitigação De Risco De Crédito Em Cooperativas De Crédito E Seu Impacto Nos Indices De Inadimplencia.</td>
                    <td>Fabrício Molica De Mendonça, Daniela De Fátima Alves, Elizete Antunes Teixeira Nogueira, Mario Sergio Almeida e Denise Carneiro Bernardo</td>
                </tr>
                <tr>
                    <td>Análise Da Aplicação De Ferramentas De Mitigação De Risco De Crédito Em Cooperativas De Crédito E Seu Impacto Nos Indices De Inadimplencia.</td>
                    <td>Fabrício Molica De Mendonça, Daniela De Fátima Alves, Elizete Antunes Teixeira Nogueira, Mario Sergio Almeida e Denise Carneiro Bernardo</td>
                </tr>
                <tr>
                    <td>Análise Da Aplicação De Ferramentas De Mitigação De Risco De Crédito Em Cooperativas De Crédito E Seu Impacto Nos Indices De Inadimplencia.</td>
                    <td>Fabrício Molica De Mendonça, Daniela De Fátima Alves, Elizete Antunes Teixeira Nogueira, Mario Sergio Almeida e Denise Carneiro Bernardo</td>
                </tr>
                <tr>
                    <td>Análise Da Aplicação De Ferramentas De Mitigação De Risco De Crédito Em Cooperativas De Crédito E Seu Impacto Nos Indices De Inadimplencia.</td>
                    <td>Fabrício Molica De Mendonça, Daniela De Fátima Alves, Elizete Antunes Teixeira Nogueira, Mario Sergio Almeida e Denise Carneiro Bernardo</td>
                </tr>
                <tr>
                    <td>Análise Da Aplicação De Ferramentas De Mitigação De Risco De Crédito Em Cooperativas De Crédito E Seu Impacto Nos Indices De Inadimplencia.</td>
                    <td>Fabrício Molica De Mendonça, Daniela De Fátima Alves, Elizete Antunes Teixeira Nogueira, Mario Sergio Almeida e Denise Carneiro Bernardo</td>
                </tr>
                <tr>
                    <td>Análise Da Aplicação De Ferramentas De Mitigação De Risco De Crédito Em Cooperativas De Crédito E Seu Impacto Nos Indices De Inadimplencia.</td>
                    <td>Fabrício Molica De Mendonça, Daniela De Fátima Alves, Elizete Antunes Teixeira Nogueira, Mario Sergio Almeida e Denise Carneiro Bernardo</td>
                </tr>


            </tbody>
        </table>

        <div class="mt-5">
            <p> Prezado autor agraciado com a classificação de seu trabalho como um dos melhores artigos do XVI SEGeT:</p>

            <p>Solicitamos que participe da Sessão de Premiação que ocorrerá no dia 31 de outubro de 2019, no Restaurante Querência Gaúcha, situado na Av. das Mangueiras, n° 2510, Penedo/RJ. Os três melhores artigos do evento farão jus a premiação de um Tablet para cada artigo. Os demais trabalhos receberão menção honrosa.</p>

            <p>Informamos que não haverá apresentação durante a premiação. Os artigos deverão ser apresentados de acordo com as datas e horários definidos na programação do evento. Os artigos não apresentados serão automaticamente desclassificados da premiação. Ao menos um autor de cada trabalho deve participar do jantar de confraternização para fazer jus à premiação.</p>

            <p>Por fim, informamos que os dez melhores trabalhos serão indicados para a publicação em uma edição especial da REVISTA VALORE. Para mais informações sobre a VALORE, consulte <a href="https://revistavalore.emnuvens.com.br/valore" target="_blank">https://revistavalore.emnuvens.com.br/valore.</a></p>
        </div>
    </div>
</div>

